.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.center{
  margin:0% 0%; height: 63px; padding-left: 10px; background-color: #394263;
  &:hover {
    background-color: #31bae1;
  }
  i{
    margin-left: 10%; margin-top: 12%; color: #858fb2; font-size: 100%;
    span{
      margin-left: 10px; font-size: 100%; color: #E4E7EC;
    }
  }
}
.under-logo{
  height: 100px;
  background-color: #4d5574;
}
